*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    font-size: 'poppins',sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
.logo{
    width: 160px;
    /* margin: 22px 125px; */
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content p{
    font-size: 22px;
}
.content h1{
    font-size: 70px;
    font-weight: 800;
}
.content h1 span{
    color: #ff3750;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.content button img{
    width: 18px;
    margin-left: 10px;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 90px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -8px;
}
.launch-time span{
    font-size: 22px;
}
.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 100%;
        opacity: 1;
    }
}
@media (max-width:850px)
{
    .logo {
        width: 95px;
        padding: 15px 0;
        cursor: pointer;
    }
    .content h1 {
        font-size: 18px;
        font-weight: 600;
        padding: 5px;
    }
    .content p {
        font-size: 9px;
        padding: 5px;
    }
    .launch-time div p {
        font-size: 17px;
        margin-bottom: -7px;
    }
    .launch-time span {
        font-size: 7px;
    }
    .content button {
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        padding: 2px 0px;
        display: flex;
        align-items: center;
        margin-top: 6px;
        cursor: pointer;
        border-radius: 10px;
    }
    .content button img {
        width: 10px;
        margin-left: 0px;
    }
    .rocket {
        width: 90px;
        position: absolute;
        right: 10%;
        bottom: 0;
        animation: rocket 4s linear infinite;
    }
    button span{
        font-size: 5px;
    }
    
}